
    <div class="panel panel-primary">
      <div class="panel-heading">Profile</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed">
            <tr>
              <td rowspan="9">
              </td>
            </tr>
            <tr>
              <td>John Doe</td>
            </tr>
            <tr>
              <td>Empd id: 1234</td>
            </tr>
            <tr>
              <td>DOJ : 06/06/06</td>
            </tr>
            <tr>
              <td>DOB : 06/06/1992</td>
            </tr>
            <tr>
              <td>email : JohnDoe@gmail.com</td>
            </tr>
            <tr>
              <td>Designation : UI Developer</td>
            </tr>
            <tr>
              <td>Manager : Ram Prasad</td>
            </tr>
            <tr>
              <td>Department : Software Services</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
