
<div class="content">
  <h2>Compensatory off Dashboard</h2>


      <div class="row flex">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">Status</div>
            <div class="card-block">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date <i class="{{faClass}}" aria-hidden="true"></i></th>
                    <th>From <i class="{{faClass}}" aria-hidden="true"></i></th>
                    <th>to</th>
                    <th>Hours worked</th>
                    <th>Availed Compensatory Off</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{date}}</td>
                    <td>{{from}}</td>
                    <td>{{to}}</td>
                    <td>{{hoursWorked}}</td>
                    <td>{{AvailedcompOff}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-center">Comp off history</div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text"></div>
            </div>
          </div>
        </div>
      </div>

</div>
