<h1>{{heading}}</h1>

<div class="row">

  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Names, Department, Degination..." ng-model="search" />
    </div>
  </div>
  <div class="col-sm-6">
    <input class="btn btn-primary" type="submit" value="Submit">
    <input class="btn btn-primary" type="reset" value="Reset">
  </div>

  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="orderByMe('first_name')">Name <i class="{{faClass}}" aria-hidden="true"></i></th>
          <th ng-click="orderByMe('emp_id')">E Code <i class="{{faClass}}" aria-hidden="true"></i></th>
          <th>Department</th>
          <th>Designation</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employeeList | orderBy:myOrderBy | filter : search | limitTo:contactToShow ">
          <td>{{employee.first_name + " " +employee.last_name}}</td>
          <td>{{employee.emp_id}}</td>
          <td>{{employee.department}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">{{employeeList.length}} contacts found</div>
  <div class="col-sm-6 ">

    <div class="btn-group btn-group-sm pull-right" role="group">
      <button type="button" class="btn btn-secondary btn-sm" ng-click="nextPage()">></button>
      <button type="button" class="btn btn-secondary btn-sm">>></button>
    </div>

  </div>
</div>
