<h1>{{heading}}</h1>

<div class="row">

  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Names, Department, Degination..." ng-model="search" />
    </div>
  </div>
  <div class="col-sm-6">
    <input class="btn btn-primary" type="submit" value="Submit">
    <input class="btn btn-primary" type="reset" value="Reset">
  </div>

  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="orderByMe('first_name')">Name <i class="{{faClass}}" aria-hidden="true"></i></th>
          <th ng-click="orderByMe('emp_id')">E Code <i class="{{faClass}}" aria-hidden="true"></i></th>
          <th>Department</th>
          <th>Designation</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employee10 | orderBy:myOrderBy | filter : search">
          <td width="20%">{{employee.first_name + " " +employee.last_name}}</td>
          <td width="20%">{{employee.emp_id}}</td>
          <td width="20%">{{employee.department}}</td>
          <td width="20%">{{employee.designation}}</td>
          <td width="20%">{{employee.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">{{employeeList.length}} contacts found</div>

  <div class="col-sm-2 ">

    <div class="btn-group btn-group-sm pull-right" role="group">
      <button type="button" class="btn btn-secondary btn-sm" title="First" ng-click="firstPage()"><<</button>
      <button type="button" class="btn btn-secondary btn-sm" title="Previous" ng-click="previousPage()"><</button>
    </div>

  </div>

  <div class="col-sm-2">
    <div class="pages pull-right">{{page}} of {{pages}}</div>
  </div>
  <div class="col-sm-2">

    <div class="btn-group btn-group-sm pull-right" role="group">
      <button type="button" class="btn btn-secondary btn-sm" title="Next" ng-click="nextPage()">></button>
      <button type="button" class="btn btn-secondary btn-sm" title="Last" ng-click="lastPage()">>></button>
    </div>

  </div>
</div>
