
<div class="content">
  hello
  <!-- tab home -->
    <div id="home" class="">
      <div class="row flex">
        <div class="col-sm-3" ui-view="profile"></div>
        <div class="col-sm-3" ui-view="companyAnnouncement"></div>
        <div class="col-sm-3" ui-view="leaveBalance"></div>
        <div class="col-sm-3" ui-view="leaveDetails"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3" ui-view="attendenceDetails"></div>
        <div class="col-sm-3" ui-view="holidayList"></div>
        <div class="col-sm-3" ui-view="queryStatus"></div>
        <div class="col-sm-3" ui-view="payrolQueryStatus"></div>
      </div>
    </div>
    <!-- tab home ends -->
</div>
